html {
  font-size: 62.5%;
  box-sizing: border-box;
}

#root, body {
  height: 100vh;
  margin: 0;
}

body, button, input, select, textarea {
  font-family: Montserrat,Helvetica,Arial,sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ff8000;
}

.grid-container {
  height: 100%;
  display: grid;
  grid-template-areas:
      "header"
      "main"
      "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
}

main {
  grid-area: main;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.main {
  flex: 3 1 60rem;
}

.sidebar {
  display: none;
  flex: 1 1 20rem;
}


